@Html.ValidationSummary(true)
@using ContactUs.Models

@model ContactUs

@{
    ViewBag.Title = "Contáctanos";
    ViewBag.ContactForm = "Formulario de contacto";
}
<h2>@ViewBag.Title.</h2>

<br /><br />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <fieldset>
        <legend>@ViewBag.ContactForm</legend>
        <div class="form-group">
            @Html.LabelFor(model => model.CustomerFullName, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.CustomerFullName, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.CustomerFullName, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.IdentificationTypeId, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.DropDownListFor(x => x.IdentificationTypeId, new SelectList(ViewBag.IdentificationTypes, "IdentificationTypeId", "Name"), null, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.IdentificationTypeId, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Comments, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Comments, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Comments, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-default" value="Contactar" />
            </div>
        </div>
    </fieldset>
}